.cssload-box {
    position: absolute;
    width: 292px;
    height: 78px;
    left: 50%;
    margin-left: -146px;
}

.cssload-loading:after {
    content: '';
    position: absolute;
    left: -39px;
    display: block;
    width: 39px;
    height: 49px;
    border-radius: 4px;
    background-color: transparent;
    box-shadow: 47px 0 2px rgba(61,195,255,0.8), 94px 0 0px rgb(61,195,255), 140px 0 2px rgba(61,195,255,0.8), 187px 0 4px rgba(61,195,255,0.6), 234px 0 6px rgba(61,195,255,0.4), 281px 0 8px rgba(61,195,255,0.2);
    transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    animation: cssload-loadingAnim 2.3s linear infinite;
    -o-animation: cssload-loadingAnim 2.3s linear infinite;
    -ms-animation: cssload-loadingAnim 2.3s linear infinite;
    -webkit-animation: cssload-loadingAnim 2.3s linear infinite;
    -moz-animation: cssload-loadingAnim 2.3s linear infinite;
}



@keyframes cssload-loadingAnim {
    0% {
        box-shadow: 47px 0 0px rgb(61,195,255), 94px 0 2px rgba(61,195,255,0.8), 140px 0 4px rgba(61,195,255,0.6), 187px 0 6px rgba(61,195,255,0.4), 234px 0 8px rgba(61,195,255,0.2), 281px 0 10px rgba(61, 195, 255, 0);
    }
    10% {
        box-shadow: 47px 0 2px rgba(61,195,255,0.8), 94px 0 0px rgb(61,195,255), 140px 0 2px rgba(61,195,255,0.8), 187px 0 4px rgba(61,195,255,0.6), 234px 0 6px rgba(61,195,255,0.4), 281px 0 8px rgba(61, 195, 255, 0.2);
    }
    20% {
        box-shadow: 47px 0 4px rgba(61, 195, 255, 0.6), 94px 0 2px rgba(61, 195, 255, 0.8), 140px 0 0px #3dc3ff, 187px 0 2px rgba(61, 195, 255, 0.8), 234px 0 4px rgba(61, 195, 255, 0.6), 281px 0 6px rgba(61, 195, 255, 0.4);
    }
    30% {
        box-shadow: 47px 0 6px rgba(61, 195, 255, 0.4), 94px 0 4px rgba(61, 195, 255, 0.6), 140px 0 2px rgba(61, 195, 255, 0.8), 187px 0 0px #3dc3ff, 234px 0 2px rgba(61, 195, 255, 0.8), 281px 0 4px rgba(61, 195, 255, 0.6);
    }
    40% {
        box-shadow: 47px 0 8px rgba(61, 195, 255, 0.2), 94px 0 6px rgba(61, 195, 255, 0.4), 140px 0 4px rgba(61, 195, 255, 0.6), 187px 0 2px rgba(61, 195, 255, 0.8), 234px 0 0px #3dc3ff, 281px 0 2px rgba(61, 195, 255, 0.8);
    }
    50% {
        box-shadow: 47px 0 10px rgba(61, 195, 255, 0), 94px 0 8px rgba(61, 195, 255, 0.2), 140px 0 6px rgba(61, 195, 255, 0.4), 187px 0 4px rgba(61, 195, 255, 0.6), 234px 0 2px rgba(61, 195, 255, 0.8), 281px 0 0px #3dc3ff;
    }
    60% {
        box-shadow: 47px 0 8px rgba(61, 195, 255, 0.2), 94px 0 10px rgba(61, 195, 255, 0), 140px 0 8px rgba(61, 195, 255, 0.2), 187px 0 6px rgba(61, 195, 255, 0.4), 234px 0 4px rgba(61, 195, 255, 0.6), 281px 0 2px rgba(61, 195, 255, 0.8);
    }
    70% {
        box-shadow: 47px 0 6px rgba(61, 195, 255, 0.4), 94px 0 8px rgba(61, 195, 255, 0.2), 140px 0 10px rgba(61, 195, 255, 0), 187px 0 8px rgba(61, 195, 255, 0.2), 234px 0 6px rgba(61, 195, 255, 0.4), 281px 0 4px rgba(61, 195, 255, 0.6);
    }
    80% {
        box-shadow: 47px 0 4px rgba(61, 195, 255, 0.6), 94px 0 6px rgba(61, 195, 255, 0.4), 140px 0 8px rgba(61, 195, 255, 0.2), 187px 0 10px rgba(61, 195, 255, 0), 234px 0 8px rgba(61, 195, 255, 0.2), 281px 0 6px rgba(61, 195, 255, 0.4);
    }
    90% {
        box-shadow: 47px 0 2px rgba(61, 195, 255, 0.8), 94px 0 4px rgba(61, 195, 255, 0.6), 140px 0 6px rgba(61, 195, 255, 0.4), 187px 0 8px rgba(61, 195, 255, 0.2), 234px 0 10px rgba(61, 195, 255, 0), 281px 0 8px rgba(61, 195, 255, 0.2);
    }
    100% {
        box-shadow: 47px 0 0px #3dc3ff, 94px 0 2px rgba(61, 195, 255, 0.8), 140px 0 4px rgba(61, 195, 255, 0.6), 187px 0 6px rgba(61, 195, 255, 0.4), 234px 0 8px rgba(61, 195, 255, 0.2), 281px 0 10px rgba(61, 195, 255, 0);
    }
}

@-o-keyframes cssload-loadingAnim {
    0% {
        box-shadow: 47px 0 0px rgb(61,195,255), 94px 0 2px rgba(61,195,255,0.8), 140px 0 4px rgba(61,195,255,0.6), 187px 0 6px rgba(61,195,255,0.4), 234px 0 8px rgba(61,195,255,0.2), 281px 0 10px rgba(61, 195, 255, 0);
    }
    10% {
        box-shadow: 47px 0 2px rgba(61,195,255,0.8), 94px 0 0px rgb(61,195,255), 140px 0 2px rgba(61,195,255,0.8), 187px 0 4px rgba(61,195,255,0.6), 234px 0 6px rgba(61,195,255,0.4), 281px 0 8px rgba(61, 195, 255, 0.2);
    }
    20% {
        box-shadow: 47px 0 4px rgba(61, 195, 255, 0.6), 94px 0 2px rgba(61, 195, 255, 0.8), 140px 0 0px #3dc3ff, 187px 0 2px rgba(61, 195, 255, 0.8), 234px 0 4px rgba(61, 195, 255, 0.6), 281px 0 6px rgba(61, 195, 255, 0.4);
    }
    30% {
        box-shadow: 47px 0 6px rgba(61, 195, 255, 0.4), 94px 0 4px rgba(61, 195, 255, 0.6), 140px 0 2px rgba(61, 195, 255, 0.8), 187px 0 0px #3dc3ff, 234px 0 2px rgba(61, 195, 255, 0.8), 281px 0 4px rgba(61, 195, 255, 0.6);
    }
    40% {
        box-shadow: 47px 0 8px rgba(61, 195, 255, 0.2), 94px 0 6px rgba(61, 195, 255, 0.4), 140px 0 4px rgba(61, 195, 255, 0.6), 187px 0 2px rgba(61, 195, 255, 0.8), 234px 0 0px #3dc3ff, 281px 0 2px rgba(61, 195, 255, 0.8);
    }
    50% {
        box-shadow: 47px 0 10px rgba(61, 195, 255, 0), 94px 0 8px rgba(61, 195, 255, 0.2), 140px 0 6px rgba(61, 195, 255, 0.4), 187px 0 4px rgba(61, 195, 255, 0.6), 234px 0 2px rgba(61, 195, 255, 0.8), 281px 0 0px #3dc3ff;
    }
    60% {
        box-shadow: 47px 0 8px rgba(61, 195, 255, 0.2), 94px 0 10px rgba(61, 195, 255, 0), 140px 0 8px rgba(61, 195, 255, 0.2), 187px 0 6px rgba(61, 195, 255, 0.4), 234px 0 4px rgba(61, 195, 255, 0.6), 281px 0 2px rgba(61, 195, 255, 0.8);
    }
    70% {
        box-shadow: 47px 0 6px rgba(61, 195, 255, 0.4), 94px 0 8px rgba(61, 195, 255, 0.2), 140px 0 10px rgba(61, 195, 255, 0), 187px 0 8px rgba(61, 195, 255, 0.2), 234px 0 6px rgba(61, 195, 255, 0.4), 281px 0 4px rgba(61, 195, 255, 0.6);
    }
    80% {
        box-shadow: 47px 0 4px rgba(61, 195, 255, 0.6), 94px 0 6px rgba(61, 195, 255, 0.4), 140px 0 8px rgba(61, 195, 255, 0.2), 187px 0 10px rgba(61, 195, 255, 0), 234px 0 8px rgba(61, 195, 255, 0.2), 281px 0 6px rgba(61, 195, 255, 0.4);
    }
    90% {
        box-shadow: 47px 0 2px rgba(61, 195, 255, 0.8), 94px 0 4px rgba(61, 195, 255, 0.6), 140px 0 6px rgba(61, 195, 255, 0.4), 187px 0 8px rgba(61, 195, 255, 0.2), 234px 0 10px rgba(61, 195, 255, 0), 281px 0 8px rgba(61, 195, 255, 0.2);
    }
    100% {
        box-shadow: 47px 0 0px #3dc3ff, 94px 0 2px rgba(61, 195, 255, 0.8), 140px 0 4px rgba(61, 195, 255, 0.6), 187px 0 6px rgba(61, 195, 255, 0.4), 234px 0 8px rgba(61, 195, 255, 0.2), 281px 0 10px rgba(61, 195, 255, 0);
    }
}

@-ms-keyframes cssload-loadingAnim {
    0% {
        box-shadow: 47px 0 0px rgb(61,195,255), 94px 0 2px rgba(61,195,255,0.8), 140px 0 4px rgba(61,195,255,0.6), 187px 0 6px rgba(61,195,255,0.4), 234px 0 8px rgba(61,195,255,0.2), 281px 0 10px rgba(61, 195, 255, 0);
    }
    10% {
        box-shadow: 47px 0 2px rgba(61,195,255,0.8), 94px 0 0px rgb(61,195,255), 140px 0 2px rgba(61,195,255,0.8), 187px 0 4px rgba(61,195,255,0.6), 234px 0 6px rgba(61,195,255,0.4), 281px 0 8px rgba(61, 195, 255, 0.2);
    }
    20% {
        box-shadow: 47px 0 4px rgba(61, 195, 255, 0.6), 94px 0 2px rgba(61, 195, 255, 0.8), 140px 0 0px #3dc3ff, 187px 0 2px rgba(61, 195, 255, 0.8), 234px 0 4px rgba(61, 195, 255, 0.6), 281px 0 6px rgba(61, 195, 255, 0.4);
    }
    30% {
        box-shadow: 47px 0 6px rgba(61, 195, 255, 0.4), 94px 0 4px rgba(61, 195, 255, 0.6), 140px 0 2px rgba(61, 195, 255, 0.8), 187px 0 0px #3dc3ff, 234px 0 2px rgba(61, 195, 255, 0.8), 281px 0 4px rgba(61, 195, 255, 0.6);
    }
    40% {
        box-shadow: 47px 0 8px rgba(61, 195, 255, 0.2), 94px 0 6px rgba(61, 195, 255, 0.4), 140px 0 4px rgba(61, 195, 255, 0.6), 187px 0 2px rgba(61, 195, 255, 0.8), 234px 0 0px #3dc3ff, 281px 0 2px rgba(61, 195, 255, 0.8);
    }
    50% {
        box-shadow: 47px 0 10px rgba(61, 195, 255, 0), 94px 0 8px rgba(61, 195, 255, 0.2), 140px 0 6px rgba(61, 195, 255, 0.4), 187px 0 4px rgba(61, 195, 255, 0.6), 234px 0 2px rgba(61, 195, 255, 0.8), 281px 0 0px #3dc3ff;
    }
    60% {
        box-shadow: 47px 0 8px rgba(61, 195, 255, 0.2), 94px 0 10px rgba(61, 195, 255, 0), 140px 0 8px rgba(61, 195, 255, 0.2), 187px 0 6px rgba(61, 195, 255, 0.4), 234px 0 4px rgba(61, 195, 255, 0.6), 281px 0 2px rgba(61, 195, 255, 0.8);
    }
    70% {
        box-shadow: 47px 0 6px rgba(61, 195, 255, 0.4), 94px 0 8px rgba(61, 195, 255, 0.2), 140px 0 10px rgba(61, 195, 255, 0), 187px 0 8px rgba(61, 195, 255, 0.2), 234px 0 6px rgba(61, 195, 255, 0.4), 281px 0 4px rgba(61, 195, 255, 0.6);
    }
    80% {
        box-shadow: 47px 0 4px rgba(61, 195, 255, 0.6), 94px 0 6px rgba(61, 195, 255, 0.4), 140px 0 8px rgba(61, 195, 255, 0.2), 187px 0 10px rgba(61, 195, 255, 0), 234px 0 8px rgba(61, 195, 255, 0.2), 281px 0 6px rgba(61, 195, 255, 0.4);
    }
    90% {
        box-shadow: 47px 0 2px rgba(61, 195, 255, 0.8), 94px 0 4px rgba(61, 195, 255, 0.6), 140px 0 6px rgba(61, 195, 255, 0.4), 187px 0 8px rgba(61, 195, 255, 0.2), 234px 0 10px rgba(61, 195, 255, 0), 281px 0 8px rgba(61, 195, 255, 0.2);
    }
    100% {
        box-shadow: 47px 0 0px #3dc3ff, 94px 0 2px rgba(61, 195, 255, 0.8), 140px 0 4px rgba(61, 195, 255, 0.6), 187px 0 6px rgba(61, 195, 255, 0.4), 234px 0 8px rgba(61, 195, 255, 0.2), 281px 0 10px rgba(61, 195, 255, 0);
    }
}

@-webkit-keyframes cssload-loadingAnim {
    0% {
        box-shadow: 47px 0 0px rgb(61,195,255), 94px 0 2px rgba(61,195,255,0.8), 140px 0 4px rgba(61,195,255,0.6), 187px 0 6px rgba(61,195,255,0.4), 234px 0 8px rgba(61,195,255,0.2), 281px 0 10px rgba(61, 195, 255, 0);
    }
    10% {
        box-shadow: 47px 0 2px rgba(61,195,255,0.8), 94px 0 0px rgb(61,195,255), 140px 0 2px rgba(61,195,255,0.8), 187px 0 4px rgba(61,195,255,0.6), 234px 0 6px rgba(61,195,255,0.4), 281px 0 8px rgba(61, 195, 255, 0.2);
    }
    20% {
        box-shadow: 47px 0 4px rgba(61, 195, 255, 0.6), 94px 0 2px rgba(61, 195, 255, 0.8), 140px 0 0px #3dc3ff, 187px 0 2px rgba(61, 195, 255, 0.8), 234px 0 4px rgba(61, 195, 255, 0.6), 281px 0 6px rgba(61, 195, 255, 0.4);
    }
    30% {
        box-shadow: 47px 0 6px rgba(61, 195, 255, 0.4), 94px 0 4px rgba(61, 195, 255, 0.6), 140px 0 2px rgba(61, 195, 255, 0.8), 187px 0 0px #3dc3ff, 234px 0 2px rgba(61, 195, 255, 0.8), 281px 0 4px rgba(61, 195, 255, 0.6);
    }
    40% {
        box-shadow: 47px 0 8px rgba(61, 195, 255, 0.2), 94px 0 6px rgba(61, 195, 255, 0.4), 140px 0 4px rgba(61, 195, 255, 0.6), 187px 0 2px rgba(61, 195, 255, 0.8), 234px 0 0px #3dc3ff, 281px 0 2px rgba(61, 195, 255, 0.8);
    }
    50% {
        box-shadow: 47px 0 10px rgba(61, 195, 255, 0), 94px 0 8px rgba(61, 195, 255, 0.2), 140px 0 6px rgba(61, 195, 255, 0.4), 187px 0 4px rgba(61, 195, 255, 0.6), 234px 0 2px rgba(61, 195, 255, 0.8), 281px 0 0px #3dc3ff;
    }
    60% {
        box-shadow: 47px 0 8px rgba(61, 195, 255, 0.2), 94px 0 10px rgba(61, 195, 255, 0), 140px 0 8px rgba(61, 195, 255, 0.2), 187px 0 6px rgba(61, 195, 255, 0.4), 234px 0 4px rgba(61, 195, 255, 0.6), 281px 0 2px rgba(61, 195, 255, 0.8);
    }
    70% {
        box-shadow: 47px 0 6px rgba(61, 195, 255, 0.4), 94px 0 8px rgba(61, 195, 255, 0.2), 140px 0 10px rgba(61, 195, 255, 0), 187px 0 8px rgba(61, 195, 255, 0.2), 234px 0 6px rgba(61, 195, 255, 0.4), 281px 0 4px rgba(61, 195, 255, 0.6);
    }
    80% {
        box-shadow: 47px 0 4px rgba(61, 195, 255, 0.6), 94px 0 6px rgba(61, 195, 255, 0.4), 140px 0 8px rgba(61, 195, 255, 0.2), 187px 0 10px rgba(61, 195, 255, 0), 234px 0 8px rgba(61, 195, 255, 0.2), 281px 0 6px rgba(61, 195, 255, 0.4);
    }
    90% {
        box-shadow: 47px 0 2px rgba(61, 195, 255, 0.8), 94px 0 4px rgba(61, 195, 255, 0.6), 140px 0 6px rgba(61, 195, 255, 0.4), 187px 0 8px rgba(61, 195, 255, 0.2), 234px 0 10px rgba(61, 195, 255, 0), 281px 0 8px rgba(61, 195, 255, 0.2);
    }
    100% {
        box-shadow: 47px 0 0px #3dc3ff, 94px 0 2px rgba(61, 195, 255, 0.8), 140px 0 4px rgba(61, 195, 255, 0.6), 187px 0 6px rgba(61, 195, 255, 0.4), 234px 0 8px rgba(61, 195, 255, 0.2), 281px 0 10px rgba(61, 195, 255, 0);
    }
}

@-moz-keyframes cssload-loadingAnim {
    0% {
        box-shadow: 47px 0 0px rgb(61,195,255), 94px 0 2px rgba(61,195,255,0.8), 140px 0 4px rgba(61,195,255,0.6), 187px 0 6px rgba(61,195,255,0.4), 234px 0 8px rgba(61,195,255,0.2), 281px 0 10px rgba(61, 195, 255, 0);
    }
    10% {
        box-shadow: 47px 0 2px rgba(61,195,255,0.8), 94px 0 0px rgb(61,195,255), 140px 0 2px rgba(61,195,255,0.8), 187px 0 4px rgba(61,195,255,0.6), 234px 0 6px rgba(61,195,255,0.4), 281px 0 8px rgba(61, 195, 255, 0.2);
    }
    20% {
        box-shadow: 47px 0 4px rgba(61, 195, 255, 0.6), 94px 0 2px rgba(61, 195, 255, 0.8), 140px 0 0px #3dc3ff, 187px 0 2px rgba(61, 195, 255, 0.8), 234px 0 4px rgba(61, 195, 255, 0.6), 281px 0 6px rgba(61, 195, 255, 0.4);
    }
    30% {
        box-shadow: 47px 0 6px rgba(61, 195, 255, 0.4), 94px 0 4px rgba(61, 195, 255, 0.6), 140px 0 2px rgba(61, 195, 255, 0.8), 187px 0 0px #3dc3ff, 234px 0 2px rgba(61, 195, 255, 0.8), 281px 0 4px rgba(61, 195, 255, 0.6);
    }
    40% {
        box-shadow: 47px 0 8px rgba(61, 195, 255, 0.2), 94px 0 6px rgba(61, 195, 255, 0.4), 140px 0 4px rgba(61, 195, 255, 0.6), 187px 0 2px rgba(61, 195, 255, 0.8), 234px 0 0px #3dc3ff, 281px 0 2px rgba(61, 195, 255, 0.8);
    }
    50% {
        box-shadow: 47px 0 10px rgba(61, 195, 255, 0), 94px 0 8px rgba(61, 195, 255, 0.2), 140px 0 6px rgba(61, 195, 255, 0.4), 187px 0 4px rgba(61, 195, 255, 0.6), 234px 0 2px rgba(61, 195, 255, 0.8), 281px 0 0px #3dc3ff;
    }
    60% {
        box-shadow: 47px 0 8px rgba(61, 195, 255, 0.2), 94px 0 10px rgba(61, 195, 255, 0), 140px 0 8px rgba(61, 195, 255, 0.2), 187px 0 6px rgba(61, 195, 255, 0.4), 234px 0 4px rgba(61, 195, 255, 0.6), 281px 0 2px rgba(61, 195, 255, 0.8);
    }
    70% {
        box-shadow: 47px 0 6px rgba(61, 195, 255, 0.4), 94px 0 8px rgba(61, 195, 255, 0.2), 140px 0 10px rgba(61, 195, 255, 0), 187px 0 8px rgba(61, 195, 255, 0.2), 234px 0 6px rgba(61, 195, 255, 0.4), 281px 0 4px rgba(61, 195, 255, 0.6);
    }
    80% {
        box-shadow: 47px 0 4px rgba(61, 195, 255, 0.6), 94px 0 6px rgba(61, 195, 255, 0.4), 140px 0 8px rgba(61, 195, 255, 0.2), 187px 0 10px rgba(61, 195, 255, 0), 234px 0 8px rgba(61, 195, 255, 0.2), 281px 0 6px rgba(61, 195, 255, 0.4);
    }
    90% {
        box-shadow: 47px 0 2px rgba(61, 195, 255, 0.8), 94px 0 4px rgba(61, 195, 255, 0.6), 140px 0 6px rgba(61, 195, 255, 0.4), 187px 0 8px rgba(61, 195, 255, 0.2), 234px 0 10px rgba(61, 195, 255, 0), 281px 0 8px rgba(61, 195, 255, 0.2);
    }
    100% {
        box-shadow: 47px 0 0px #3dc3ff, 94px 0 2px rgba(61, 195, 255, 0.8), 140px 0 4px rgba(61, 195, 255, 0.6), 187px 0 6px rgba(61, 195, 255, 0.4), 234px 0 8px rgba(61, 195, 255, 0.2), 281px 0 10px rgba(61, 195, 255, 0);
    }
}